<section class="welcome" data-nav="light">
  <header class="hero">
    <div class="hero-center-logo">
      <img src="/images/hero logo.png" alt="Logo" />
    </div>
  </header>
</section>

<section class="hero-half background-beige py-5" data-nav="dark">
  <div class="hero-half-inner">
    <h2 class="hero-half-label archivo">
      DESIGNING SPACES <br />
      YOU CAN
      <span class="eat-word">
        EAT
        <img
          src="/images/X_devour.png"
          alt="Eat crossed out with an X, with 'devour' written next to it"
        />
      </span>
    </h2>
  </div>
</section>
