<section id="about" class="about background-beige pb-5 pb-xl-0" data-nav="dark">
  <!-- POPUP -->
  <div class="newsletter-overlay">
    <div
      class="newsletter-modal p-lg-3 d-flex align-items-center justify-content-center"
    >
      <button class="modal-close">
        <img
          src="/images/close.png"
          alt="close button"
        />
      </button>

      <div class="newsletter-card p-5">
        <h3 class="modal-title archivo">HUNGRY FOR THE T?</h3>

        <p class="modal-text archivo-narrow">
          Subscribe and never miss <br />
          the next messy table <br />
          (or juicy gossip)
        </p>

        <form class="d-flex flex-column">
          <label for="emailInput" class="d-none">Email Address</label>
          <input
            class="modal-form-input mt-3 p-2 archivo-narrow"
            type="email"
            placeholder="Email"
            id="emailInput"
            required
          />
          <button
            class="modal-form-button mt-3 p-2 des-montilles"
            type="submit"
          >
            feed me
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="container-fluid px-5 h-100">
    <div class="row align-items-stretch h-100">
      <div class="col-12 col-xl-6 position-relative">
        <div class="row h-100">
          <div class="col-4 pe-1">
            <div class="about-picture-left"></div>
          </div>

          <div class="col-8 ps-1">
            <div class="about-picture-right"></div>
          </div>
        </div>
      </div>

      <!-- About RAT -->
      <div class="col-12 col-xl-6">
        <div class="row align-items-stretch h-100">
          <!-- Texts -->
          <div class="col-12 col-xl-8">
            <h3 class="about-title archivo pt-5 pt-xl-0">what is RAT?</h3>
            <p class="about-label archivo-narrow burgundy mb-4">
              RAT is a food design studio exploring the delicate intersection
              between food, art, architecture, and design, proposing a culinary
              experience conceived as a performance.
            </p>
            <p class="about-label archivo-narrow burgundy mb-4">
              We believe that food is the most democratic art medium. Every
              person, every day, is confronted with the question of what to eat,
              why, and how that choice can have an impact on health, the world,
              the environment and society.
            </p>
            <p class="about-label archivo-narrow burgundy">
              Precisely because of its immediacy, food becomes a powerful
              creative practice, a tool to generate reflections on other
              artistic expressions, which we explore through an
              interdisciplinary approach, where dishes and tablescapes are not
              thought as mere surfaces to decorate, but as spaces to inhabit.
              Each culinary scenario is a carefully constructed microcosm where
              taste, matter, and storytelling coexist.
            </p>
          </div>
          <!-- Picture -->
          <div class="col-12 col-xl-4 py-5 py-xl-0 d-flex flex-column">
            <div class="gif-wrap">
              <img src="/images/aboutus.gif" class="about-gif-right" alt="" />
              <div class="gif-caption">
                <p class="gif-caption-text des-montilles">sneak - peak</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
