<%- include("partials/header.ejs") %>
<section class="py-3 contacts background-linear-gradient d-flex flex-column text-center" data-nav="dark">
    <h1 class="mt-5 pt-5 burgundy archivo bold contact-privicy-title">Contact</h1>
    <p class="py-3 common-label archivo-narrow semibold"><strong>Angaben gemäß § 5 TMG</strong></p>

    <p class="px-5 common-label archivo-narrow semibold">
        Lagorio, Luca und Gaveglio, Lorenzo GbR<br>
        Allerstraße 38<br>
        12049 Berlin<br>
        Deutschland
    </p>

    <p class="px-5 common-label archivo-narrow semibold"><strong>Vertreten durch die Gesellschafter:</strong><br>
        Lorenzo Gaveglio<br>
        Luca Lagorio
    </p>

    <p class="px-5 common-label archivo-narrow semibold"><strong>Kontakt:</strong><br>
        E-Mail: ratsupperclub@gmail.com<br>
        Telefon: +39 3484098299
    </p>

    <p class="px-5 common-label archivo-narrow semibold">
        Umsatzsteuer-Identifikationsnummer gemäß § 27a Umsatzsteuergesetz:<br>
        USt-IdNr.: DE459681192
    </p>
    <p class="px-5 common-label archivo-narrow semibold pb-5 mb-5">
        Verantwortlich für den Inhalt nach § 18 Abs. 2 MStV:<br>
        Lagorio, Luca und Gaveglio, Lorenzo GbR<br>
        Allerstraße 38<br>
        12049 Berlin<br>
        Deutschland
    </p>
</section>
<%- include("partials/footer.ejs") %>