<%- include("partials/header.ejs") %>

<section class="pt-5 d-flex flex-column align-items-center background-linear-gradient-light" data-nav="dark">
  <div class="privacy-container mx-5">

    <h1 class="mt-5 pt-5 burgundy archivo bold contact-privicy-title">
      Datenschutzerklärung <br />
      (Privacy Policy)
    </h1>

    <p class="pt-3 about-label archivo-narrow semibold">
      <strong class="burgundy">1. Verantwortlicher</strong><br />
      Verantwortlich im Sinne der Datenschutz-Grundverordnung (DSGVO) ist:<br />
      Lagorio, Luca und Gaveglio, Lorenzo GbR<br />
      Allerstraße 38<br />
      12049 Berlin<br />
      Deutschland
    </p>

    <p class="pt-3 about-label archivo-narrow semibold">
      <strong class="burgundy">2. Allgemeine Hinweise zur Datenverarbeitung</strong><br />
      Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst.<br />
      Personenbezogene Daten werden auf dieser Website nur verarbeitet, soweit
      dies zur Bereitstellung der Website, zur Vertragsabwicklung oder aufgrund
      gesetzlicher Verpflichtungen erforderlich ist.
    </p>

    <p class="pt-3 about-label archivo-narrow semibold">
      <strong class="burgundy">3. Hosting</strong><br />
      Diese Website wird auf einem eigenen Server (VPS) betrieben.<br />
      Der Hosting-Anbieter ist:<br />
      Contabo GmbH<br />
      Aschauer Straße 32a<br />
      81549 München<br />
      Deutschland<br /><br />
      Der Hosting-Anbieter verarbeitet personenbezogene Daten im Rahmen der Bereitstellung der Website (z. B. Server-Logfiles).<br />
      Rechtsgrundlage: Art. 6 Abs. 1 lit. f DSGVO
    </p>

    <p class="pt-3 about-label archivo-narrow semibold">
      <strong class="burgundy">4. Zugriffsdaten / Server-Logfiles</strong><br />
      Beim Aufruf unserer Website erhebt und speichert unser Hosting-Anbieter automatisch
      Informationen in sogenannten Server-Logfiles, insbesondere:<br />
      IP-Adresse<br />
      Datum und Uhrzeit der Anfrage<br />
      aufgerufene Seite<br />
      Browsertyp und -version<br />
      verwendetes Betriebssystem<br />
      Diese Daten dienen der technischen Überwachung, Sicherheit und Stabilität
      der Website und lassen keine direkten Rückschlüsse auf Ihre Person zu.<br />
      Rechtsgrundlage: Art. 6 Abs. 1 lit. f DSGVO
    </p>

    <p class="pt-3 about-label archivo-narrow semibold">
        <strong class="burgundy">5. Webanalyse</strong><br />
        Es werden keine Webanalyse- oder Tracking-Tools eingesetzt.
    </p>

    <p class="pt-3 about-label archivo-narrow semibold">
      <strong class="burgundy">6. Cookies</strong><br />
      Diese Website verwendet nur technisch notwendige Cookies.<br />
      Es werden keine Marketing- oder Tracking-Cookies eingesetzt.<br />
      Rechtsgrundlage: Art. 6 Abs. 1 lit. f DSGVO
    </p>

    <p class="pt-3 about-label archivo-narrow semibold">
        <strong class="burgundy">7. Newsletter</strong><br />
        Derzeit wird auf dieser Website kein Newsletter angeboten.<br />
        Die Implementierung eines Newsletters ist jedoch für zukünftige Versionen vorgesehen.
    </p>

    <p class="pt-3 about-label archivo-narrow semibold">
      <strong class="burgundy">8. Kontaktaufnahme</strong><br />
      Wenn Sie uns per E-Mail oder über ein Kontaktformular kontaktieren, werden
      die von Ihnen übermittelten personenbezogenen Daten ausschließlich zur
      Bearbeitung Ihrer Anfrage verarbeitet.<br />
      Rechtsgrundlage:<br />
      Art. 6 Abs. 1 lit. b DSGVO oder<br />
      Art. 6 Abs. 1 lit. f DSGVO
    </p>

    <p class="pt-3 about-label archivo-narrow semibold">
      <strong class="burgundy">9. Speicherdauer</strong><br />
      Personenbezogene Daten werden nur so lange gespeichert, wie dies zur
      Erfüllung der jeweiligen Zwecke erforderlich ist oder gesetzliche
      Aufbewahrungspflichten bestehen.
    </p>

    <p class="pt-3 about-label archivo-narrow semibold">
      <strong class="burgundy">10. Ihre Rechte</strong><br />
      Sie haben jederzeit das Recht:<br />
      Auskunft zu erhalten (Art. 15 DSGVO)<br />
      Berichtigung zu verlangen (Art. 16 DSGVO)<br />
      Löschung zu verlangen (Art. 17 DSGVO)<br />
      Einschränkung der Verarbeitung (Art. 18 DSGVO)<br />
      Widerspruch einzulegen (Art. 21 DSGVO)<br />
      Datenübertragbarkeit (Art. 20 DSGVO)<br />
      Zudem haben Sie das Recht, sich bei einer Aufsichtsbehörde zu beschweren.
    </p>

    <p class="pt-3 pb-5 mb-5 about-label archivo-narrow semibold">
      <strong class="burgundy">11. Änderung dieser Datenschutzerklärung</strong><br />
      Wir behalten uns vor, diese Datenschutzerklärung anzupassen, um sie an
      geänderte rechtliche Anforderungen oder Änderungen unseres Angebots
      anzupassen.
    </p>

  </div>
</section>



<%- include("partials/footer.ejs") %>