<section class="projects py-5 py-xl-5">
  <h4 id="projects" class="projects-title beige mb-0 pt-0 px-5">
    project gallery
  </h4>

  <div class="showcase-carousel mt-4 pb-4">
    <div class="showcase-track px-0">

      <!-- gallery 1 -->
      <div class="gallery px-5 py-4">
        <div class="gallery-item">
          <img class="gallery-image-default" src="images/galery_1.png" alt="" />
          <img class="gallery-image-hover" src="images/galery_1_grain.png" alt="" />

          <h5 class="gallery-item-title archivo">
            LUISA CATUCCI GALLERY
          </h5>
        </div>

        <div class="gallery-item">
          <img class="gallery-image-default" src="images/galery_2.png" alt="" />
          <img class="gallery-image-hover" src="images/galery_2_grain.png" alt="" />

          <h5 class="gallery-item-title archivo">
            EDIBLE LANDSCAPE X TOPOTEK 1
          </h5>
        </div>

        <div class="gallery-item">
          <img class="gallery-image-default" src="images/galery_3.png" alt="" />
          <img class="gallery-image-hover" src="images/galery_3_grain.png" alt="" />

          <h5 class="gallery-item-title archivo">
            PASTA AND PICKLES X THE CITY IN THE CITY
          </h5>
        </div>

        <div class="gallery-item">
          <img class="gallery-image-default" src="images/galery_4.png" alt="" />
          <img class="gallery-image-hover" src="images/galery_4_grain.png" alt="" />

          <h5 class="gallery-item-title archivo">
            EGG WITH VAL SOLARI LAB
          </h5>
        </div>

        <div class="gallery-item">
          <img class="gallery-image-default" src="images/galery_5.png" alt="" />
          <img class="gallery-image-hover" src="images/galery_5_grain.png" alt="" />

          <h5 class="gallery-item-title archivo">
            THE FEAST X UNDERWORLD ABYSS
          </h5>
        </div>

        <div class="gallery-item">
          <img class="gallery-image-default" src="images/galery_7.png" alt="" />
          <img class="gallery-image-hover" src="images/galery_7_grain.png" alt="" />

          <h5 class="gallery-item-title archivo">
            BLUE VELVET
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>