<section 
  class="projects px-0 px-md-5 py-5 py-xl-5 vh-100"
>
  <h4 id="projects" class="projects-title beige mb-0 pt-0 px-4 px-md-0">
    project gallery
  </h4>

  <div class="showcase-carousel mt-4 pb-4">
    <div class="showcase-track">
      <div class="gallery px-1">
        <div class="gallery-item i1">
          <img src="images/galery_1.png" alt="" />
          <div class="grain-effect"></div>
          <h5 class="gallery-item-title archivo p-3">luisa catucci gallery</h5>
        </div>
        <div class="gallery-item i2">
          <img src="images/galery_2.png" alt="" />
          <div class="grain-effect"></div>
          <h5 class="gallery-item-title archivo">
            EDIBLE LANDSCAPE X TOPOTEK 1
          </h5>
        </div>
        <div class="gallery-item i3">
          <img src="images/galery_3.png" alt="" />
          <div class="grain-effect"></div>
          <h5 class="gallery-item-title archivo">
            PASTA AND PICKLES X THE CITY IN THE CITY
          </h5>
        </div>
        <div class="gallery-item i4">
          <img src="images/galery_4.png" alt="" />
          <div class="grain-effect"></div>
          <h5 class="gallery-item-title archivo">EGG WITH VAL SOLARI LAB</h5>
        </div>
        <div class="gallery-item i5">
          <img src="images/galery_5.png" alt="" />
          <div class="grain-effect"></div>
          <h5 class="gallery-item-title archivo">
            THE FEAST X UNDERWORLD ABYSS
          </h5>
        </div>
        <div class="gallery-item i6">
          <img src="images/galery_7.png" alt="" />
          <div class="grain-effect"></div>
          <h5 class="gallery-item-title archivo">
            BLUE VELVET
          </h5>
        </div>
      </div>

      <div class="gallery px-1">
        <div class="gallery-item i1">
          <img src="images/galery_1.png" alt="" />
          <div class="grain-effect"></div>
          <h5 class="gallery-item-title archivo">luisa catucci gallery</h5>
        </div>
        <div class="gallery-item i2">
          <img src="images/galery_2.png" alt="" />
          <div class="grain-effect"></div>
          <h5 class="gallery-item-title archivo">
            EDIBLE LANDSCAPE X TOPOTEK 1
          </h5>
        </div>
        <div class="gallery-item i3">
          <img src="images/galery_3.png" alt="" />
          <div class="grain-effect"></div>
          <h5 class="gallery-item-title archivo">
            PASTA AND PICKLES X THE CITY IN THE CITY
          </h5>
        </div>
        <div class="gallery-item i4">
          <img src="images/galery_4.png" alt="" />
          <div class="grain-effect"></div>
          <h5 class="gallery-item-title archivo">EGG WITH VAL SOLARI LAB</h5>
        </div>
        <div class="gallery-item i5">
          <img src="images/galery_5.png" alt="" />
          <div class="grain-effect"></div>
          <h5 class="gallery-item-title archivo">
            THE FEAST X UNDERWORLD ABYSS
          </h5>
        </div>
        <div class="gallery-item i6">
          <img src="images/galery_7.png" alt="" />
          <div class="grain-effect"></div>
          <h5 class="gallery-item-title archivo">
            BLUE VELVET
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>
