<section id="services" class="services pt-5 pt-xl-0" data-nav="dark">
    <h3 class="text-center about-title archivo px-3">we collaborate with</h3>

    <div class="row pt-5 pb-4 px-5">
        <div class="col-12 order-lg-1 order-2 col-lg d-flex flex-column justify-content-center align-items-lg-end align-items-center">
            <div class="row service-label archivo-narrow burgundy mb-0 invisible d-none d-lg-block"><p class="m-0">x</p></div>
            <div class="row service-label archivo-narrow burgundy mb-0 invisible d-none d-lg-block"><p class="m-0">x</p></div>
            <div class="row service-label archivo-narrow burgundy mb-0"><p class="m-0 text-end">event management</p></div>
        </div>
        <div class="col-12 order-lg-2 order-1 col-lg-auto d-flex align-items-center justify-content-center px-4">
            <h1 class="services-title archivo mb-lg-0">brands</h1>
        </div>
        <div class="col-12 order-3 col-lg d-flex flex-column justify-content-center align-items-lg-start align-items-center">
            <div class="row service-label archivo-narrow burgundy mb-0"><p class="m-0">launch events</p></div>
            <div class="row service-label archivo-narrow burgundy mb-0"><p class="m-0">creative direction</p></div>
            <div class="row service-label archivo-narrow burgundy mb-0"><p class="m-0">narrative and branding</p></div>
        </div>
    </div>

    <div class="row pt-5 px-5">
        <div class="col-12 col-lg d-flex flex-column justify-content-center align-items-end"></div>
        <div class="col-12 col-lg-auto d-flex align-items-center justify-content-center px-4">
            <h1 class="services-title archivo mb-0">cultural</h1>
        </div>
        <div class="col-12 col-lg d-flex flex-column justify-content-center">
            <div class="row service-label archivo-narrow burgundy mb-0 invisible d-none d-lg-block"><p class="m-0">x</p></div>
            <div class="row service-label archivo-narrow burgundy mb-0 invisible d-none d-lg-block"><p class="m-0">x</p></div>
            <div class="row service-label archivo-narrow burgundy mb-0 d-none d-lg-block"><p class="m-0">exhibitions</p></div>
        </div>
    </div>

    <div class="row pb-5 px-5">
        <div class="col-12 col-lg order-lg-1 order-2 d-flex flex-column justify-content-center align-items-lg-end align-items-center">
            <div class="row service-label archivo-narrow burgundy mb-0 invisible d-none d-lg-block"><p class="m-0">x</p></div>
            <div class="row service-label archivo-narrow burgundy mb-0 d-block d-lg-none"><p class="m-0">exhibitions</p></div>
            <div class="row service-label archivo-narrow burgundy mb-0 "><p class="m-0 text-end">art performances</p></div>
            <div class="row service-label archivo-narrow burgundy mb-0"><p class="m-0 text-end">installations</p></div>
        </div>
        <div class="col-12 col-lg-auto order-lg-2 order-1 d-flex align-items-center justify-content-center px-4">
            <h1 class="services-title archivo mb-3 mb-lg-0 text-nowrap">institutions</h1>
        </div>
        <div class="col-12 col-lg order-lg-3 order-3 shapes d-flex flex-column justify-content-center"></div>
    </div>

    <div class="row pt-5 px-5">
        <div class="col-12 col-lg d-flex flex-column justify-content-center align-items-end"></div>
        <div class="col-12 col-lg-auto d-flex align-items-center justify-content-center px-4">
            <h1 class="services-title archivo mb-0">private</h1>
        </div>
        <div class="col-12 col-lg d-flex flex-column justify-content-center">
            <div class="row service-label archivo-narrow burgundy mb-0 invisible d-none d-lg-block"><p class="m-0">x</p></div>
            <div class="row service-label archivo-narrow burgundy mb-0 invisible d-none d-lg-block"><p class="m-0">x</p></div>
            <div class="row service-label archivo-narrow burgundy mb-0 d-none d-lg-block"><p class="m-0">gastro consultant</p></div>
        </div>
    </div>

    <div class="row pb-5 px-5">
        <div class="col-12 col-lg order-lg-1 order-2 d-flex flex-column justify-content-center align-items-lg-end align-items-center">
            <div class="row service-label archivo-narrow burgundy mb-0 d-block d-lg-none"><p class="m-0">gastro consultant</p></div>
            <div class="row service-label archivo-narrow burgundy mb-0"><p class="m-0 text-end">event management</p></div>
            <div class="row service-label archivo-narrow burgundy mb-0"><p class="m-0 text-end">narrative and branding</p></div>
            <div class="row service-label archivo-narrow burgundy mb-0"><p class="m-0 text-end">creative direction</p></div>
        </div>
        <div class="col-12 col-lg-auto order-lg-2 order-1 d-flex align-items-center justify-content-center px-4">
            <h1 class="services-title archivo mb-3 mb-lg-0">clients</h1>
        </div>
        <div class="col-12 col-lg order-lg-3 order-3 d-flex flex-column justify-content-center"></div>
    </div>

    <div class="services-decor">
        <img class="shape-1" src="/images/shapes.png" alt="">
        <img class="shape-2" src="/images/triangle.png" alt="">
    </div>
    
</section>