<section class="about background-beige pb-5 d-flex flex-column" data-nav="dark">
  <!-- POPUP -->
  <div class="newsletter-overlay">
    <div
      class="newsletter-modal p-lg-3 d-flex align-items-center justify-content-center"
    >
      <button class="modal-close">
        <img
          src="/images/close.png"
          alt="close button"
        />
      </button>

      <div class="newsletter-card p-5">
        <h3 class="modal-title archivo">HUNGRY FOR THE T?</h3>

        <p class="modal-text archivo-narrow">
          Subscribe and never miss <br />
          the next messy table <br />
          (or juicy gossip)
        </p>

        <form class="d-flex flex-column">
          <label for="emailInput" class="d-none">Email Address</label>
          <input
            class="modal-form-input mt-3 p-2 archivo-narrow"
            type="email"
            placeholder="Email"
            id="emailInput"
            required
          />
          <button
            class="modal-form-button mt-3 p-2 des-montilles"
            type="submit"
          >
            feed me
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="container-fluid p-5 h-100 d-flex flex-column min-vh-100">
    <div class="row flex-grow-1 align-items-stretch">
      <div class="col-12 col-xl-6 position-relative">
        <div class="row h-100">
          <div class="col-4 pe-1">
            <div class="about-picture-left" style="background: url('<%= landing.about_image_small %>') center / cover no-repeat"></div>
          </div>

          <div class="col-8 ps-1">
            <div class="about-picture-right" style="background: url('<%= landing.about_image_large %>') 25% center / cover no-repeat"></div>
          </div>
        </div>
      </div>

      <!-- About RAT -->
      <div class="col-12 col-xl-6">
        <div class="row align-items-stretch h-100">
          <!-- Texts -->
          <div class="col-12 col-xl-8">
            <h3 id="about" class="about-title archivo pt-5 pt-xl-0">what is RAT?</h3>
            <p class="about-label archivo-narrow burgundy mb-4">
              <%= landing.about_description %>
            </p>
          </div>
          <!-- Picture -->
          <div class="col-12 col-xl-4 py-5 py-xl-0 d-flex flex-column justify-content-center align-items-center">
            <div class="gif-wrap">
              <img src="<%= landing.about_video %>" class="about-gif-right" alt="" />
              <div class="gif-caption">
                <p class="gif-caption-text des-montilles">sneak - peak</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
